@media (min-width: 576px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
}
/* General */
html {
  background-color: #c0c1c3;
  font-family: "Montserrat", sans-serif;
}
body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.right-side,
.left-side {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
h2 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
.round {
  border-radius: 100px; /* Радиус скругления */
  box-shadow: 0 0 0 3px rgb(53, 116, 121), 0 0 13px #333; /* Параметры теней */
}
.link a {
  text-decoration: none;
  color: red;
}

/* =====  / General */
/* Left Side */
.left-side {
  background-color: #3b3b3d;
  color: #ffffff;
}
.left-side h2 {
  border-bottom: 2px solid #ffffff;
}
.left-side .link a {
  color: #ffffff;
}
/* Right Side */
.right-side {
  background-color: #ffffff;
  color: #3b3b3d;
}
.right-side h2 {
  border-bottom: 2px solid #3b3b3d;
}
.right-side .link a {
  color: #3b3b3d;
}
